/*.class
/*.old
/*.orig
/*.jar
/*.tar
/*.gz
/*.tgz
/*.out
/*.out*
/*.jad
/*.txt
/*.log
/edu
/source
/classes
/DTD
/application
/arith
/kern
/module
/poly
/ring
/structure
/ufd
/util
/vector
/test
/ps
/NOTES*
